{% extends ":Visiteur:base.html.twig" %}

{% block body %}
    <center>
        <h3>Frais forfait bien Enregistrée</h3><br/>
        <a href="/visiteur/frais_forfait/ajouter" class="btn btn-outline-light">AJOUTER NOUVEAU<br/>FRAIS FORFAIT</a><br/>
    </center>
{% endblock %}
