{% extends"::base.html.twig" %}

{% block body %}
    <center>
        <h3>RV-COMPTABLE</h3><br/>
        <p>Cette section est indisponible pour le moment.</p><br/>
        <a href="/" class="btn btn-outline-dark">Retour</a>
    </center>
{% endblock %}