{% extends ":Visiteur:base.html.twig" %}

{% block body %}
    <center>
        <h3>Ligne frais hors forfait bien Enregistrée</h3><br/>
        <a href="/visiteur/ligne_frais_hors_forfait/ajouter" class="btn btn-outline-light">AJOUTER NOUVELLE<br/>LIGEN FRAIS <br/>HORS FORFAIT</a><br/>
    </center>
{% endblock %}